<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"z-main","layout":{"type":"default"}} -->
<main class="wp-block-group z-main"><!-- wp:pattern {"slug":"zngiron-base/single-header"} /-->

<!-- wp:group {"className":"z-section is-tight z-prose","align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull z-section is-tight z-prose"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"zngiron-base/closing-contact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
